//COLORS
$color-primary: #eb807b;
$color-primary-5: #eb817b8c;
$color-primary-light: #f6a074;
$color-primary-light-5: #f69f747a;
$color-primary-dark: #f674e0;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-dark: #777777;

$default-font-size: 1.6rem;

$color-grey-light-1: #f7f7f7;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
